
<h2>Add Customer</h2>
<div class="form-group">
  <label>Customer firstName:
    <input #firstName class="form-control" />
  </label><br/>

  <label>Customer lastName:
    <input #lastName class="form-control"/>
  </label><br/>

  <!-- (click) passes input value to add() and then clears the input -->
   <button type="button" class="btn btn-primary" (click)="addCustomer(firstName.value,lastName.value);">
    add
  </button>
</div>
