
<h2>Update Customer</h2>

<div *ngIf="customer">
  <form (ngSubmit)="updateCustomer()">
  <label>Customer firstName:
    <input [(ngModel)]="customer.firstName" [ngModelOptions]="{standalone: true}" />
  </label><br/>

  <label>Customer lastName:
    <input [(ngModel)]="customer.lastName" [ngModelOptions]="{standalone: true}"/>
  </label><br/>

  <!-- (click) passes input value to add() and then clears the input -->
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
