
<h1>Customers</h1>
<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"><a href="/add-customer"><b>ADD</b></a></span></button><br/><br/>
<table class="table">
  <thead>
    <th scope="col">Id</th>

    <th scope="col">FirstName</th>
    <th scope="col">LastName</th>
    <th scope="col">Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers" >
      <td>{{customer.id}}</td>
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>
        <a routerLink="/update-customer/{{customer.id}}">
        <button  type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"> </span></button>&nbsp;
        </a>
        <a routerLink="/delete-customer/{{customer.id}}">
          <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" (click)="deleteCustomer(customer)"></span></button>
        </a>
      </td>

    </tr>
  </tbody>

</table>
